@model IEnumerable<CoffeeeLover.Models.Customer_Payment_Method>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CardNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfPurcahse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CardNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfPurcahse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PaymentMethodCode">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PaymentMethodCode">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PaymentMethodCode">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
